.result-content {
    width: 65.66%;
    float: left;
    padding-left: 1.5rem;

    .initial-message-resultdiv {
        border: 1px solid #aaa;
        .main-message {
            display: block;
            font-size: 2rem;
            text-align: center;
            padding: 27%;
        }
        .instruction {
            display: block;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .result-container {
        .result-information {
            margin: 2rem 0 0.5rem 0;
        }
        .flight {
            border: 1px solid #eee;
            border-radius: 0.2rem;
            margin: 0;
            float: left;
            width: 100%;
            padding: 2rem 1rem;

            .result-field {
                width: 49%;
                float: left;
                padding: 0.5rem 0;

                label, span {
                    text-transform: capitalize;
                }
                
                &:nth-child(2), &:nth-child(4) {
                    padding-left: 0.5rem;
                }
            }
            .book-button {
                margin-top: -4.5rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}